
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>คำชี้แจง</title>
  </head>
  <body>
    <!---------- Whole block ---------->
    <div>
      <h1>แบบสอบถามบลาๆๆๆ</h1>
      <h2>คำชี้แจง</h2>
      <p>
        การสำรวจข้อมูลนี้เป็นส่วนหนึ่งของการศึกษา
        “แผนงานวิจัยการยกระดับระบบโลจิสติกส์ขนส่งเพื่อการท่องเที่ยวไทย”
        ซึ่งได้รับการสนับสนุนทุนการวิจัยจากหน่วยบริหารและจัดการทุนด้านการเพิ่มความสามารถในการแข่งขันของประเทศ
        (บพข.) สำนักงานสภานโยบายการอุดมศึกษา วิทยาศาสตร์
        วิจัยและนวัตกรรมแห่งชาติ (สอวช.) ดังนั้น
        เพื่อให้การวิเคราะห์ดังกล่าวมีความสมบูรณ์
        คณะผู้วิจัยจึงขอความอนุเคราะห์จากท่านในการตอบแบบสอบถาม ซึ่งมีจำนวน 8
        หน้า โดยแบ่งเป็น 4 ส่วน ได้แก่ (1)
        ข้อมูลพฤติกรรมการเดินทางของนักท่องเที่ยวครั้งล่าสุด (2)
        ความพึงพอใจต่อคุณภาพการให้บริการในแหล่งท่องเที่ยวจากการท่องเที่ยวครั้งล่าสุด
        (3) พฤติกรรมการท่องเที่ยวช่วงก่อนและระหว่างการแพร่ระบาดของโรคโควิด-19
        และ (4) ข้อมูลเกี่ยวกับนักท่องเที่ยว
        ทางคณะผู้วิจัยขอขอบคุณในความอนุเคราะห์ตอบแบบสอบถามของท่าน
        และจะเก็บรักษาข้อมูลดังกล่าวเป็นความลับ
        โดยจะนำไปใช้ในการศึกษาตามวัตถุประสงค์ของโครงการเพียงอย่างเดียว
      </p>
        <form action="{% url 'th-question' %}" method="get">
            <button type="submit">ต่อไป</button>
        </form>
    </div>
  </body>
</html>
